{% extends "layouts/base.html" %}
{% load static %}




{% block title %} Redactor {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="{% url 'newspaper:index' %}">Newspaper</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'newspaper:redactor_list' %}">Redactors</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Detail</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ redactor.id }}</li>
              </ol>
          </nav>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
          <a href="{% url 'newspaper:redactor_update' pk=redactor.id %}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
              Update
          </a>
          <a href="{% url 'newspaper:redactor_delete' pk=redactor.id %}" class="btn btn-danger d-inline-flex align-items-center">
              Delete
          </a>
      </div>
  </div>

    <div class="row">
        <div>
            <div class="row">
{#                Info about Redactor#}
                <div class="col-12 mb-4">
                  <div class="card border-0 shadow">
                      <div class="card-header">
                          <div class="row align-items-center">
                              <div class="col">
                                  <h2 class="fs-5 fw-bold mb-0">{{ redactor.first_name }} {{ redactor.last_name }}</h2>
                                  <p class="text-muted mb-0">Username: {{ redactor.username }}</p>
                              </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="overflow-auto" style="max-height: 400px;">
                              <p class="text-muted mb-0">{{ redactor.years_of_experience }} years of experience</p>
                          </div>
                      </div>
                  </div>
              </div>
                <div class="col-12 col-xxl-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                            <h2 class="fs-5 fw-bold mb-0">Articles of this redactor:</h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush list my--3">
                                {% if published_newspapers %}
                                  {% for article in published_newspapers %}
                                    <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                    <div class="col-auto ms--2">
                                        <h4 class="h6 mb-0">
                                            <a href="{% url 'newspaper:newspaper_detail' pk=article.id %}">{{ article.title }}</a>
                                        </h4>
                                    </div>
                                    <div class="col text-end">
                                        <a href="{% url 'newspaper:newspaper_detail' pk=article.id %}" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                                            <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                            Details
                                        </a>
                                    </div>
                                    </div>
                                </li>

                                  {% endfor %}

                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
